#setting-error-tgmpa{margin:10px 0px;padding-right: 0;}
#tgmpa-plugins .tablenav select option[value="tgmpa-bulk-install"]{display:none;}
#setting_option_divider,#setting__option_divider{ border-top: 15px solid #b2d27e; height: 0; margin: 20px auto;}